body {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 1.6px;
    background-color: #2a363b;
    text-align: justify;
    text-justify: inter-word;
    color: #8E9198;
}


body::-webkit-scrollbar {

    width: 15px;
    background-color: #161B20;

}
body::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(42,54,59,1) 0%, rgba(191,44,71,1) 15%, rgba(22,27,32,1) 100%);
    max-height: 20px;
    border-radius: 20px 20px 20px 20px;
}
header {
    width: 60%;
    background-attachment: fixed;
    color: whitesmoke;
}

footer {
    background-color: #161B20;
}

.own-container {
    margin: 0 auto !important;
    background-color: #BF2C47;

}

.own-container, .container, .container-fluid {
    cursor: default;
}

.cover {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease-in-out;
    background-color: #da394e;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: whitesmoke;

}

.image {
    width: 100%;
    height: auto;
    min-height: 250px;
    max-height: 250px;
}

.cover > i {
    font-size: 16px;
    -webkit-transition: all 0.2s ease-out;
    transition: .2s ease-in-out;
}

.nav-to:hover .cover {
    font-size: 20px;
    opacity: 0.9;
}

.cover-child {
    /* When you do everything for vertical-align working inside position: absolute element */
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 30%;
    margin: auto;
}

.corner {
    padding: 37px;
    border-radius: 0 5px 5px 5px;
    overflow: hidden;
    transition: border-radius 0s;
    border: none;
    position: relative;
    transition: ease 0.2s;
}

.corner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.4);
    border-width: 0px;
    border-color: #fff rgba(255,255,255,0.3) rgba(255,255,255,0.3) #fff;
    border-radius: 0 0 5px 0;
    transition: border-width .3s;
}
.corner:hover {
    transition-delay: .35s;
}

.corner:hover:before {
    transition: 0.2s;
    border-width: 36px;
}


.second-corner:before {
    border-color: #2a363b rgba(255,255,255,0.3) rgba(255,255,255,0.3) #2a363b !important;
}


/*collapse elements*/

.own-collapse {
    background-color: #2CBFA4;
    text-align: left;
    width: 100%;
    max-height: 100px;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 10px 5px 0px 0px;
}

.fa-plus:hover, .fa-minus:hover {
    cursor: pointer;
}

.own-collapse:hover {
    background-color: #1bae93;
    transition: 0.25s;

}

.collapse-content {
    display: none;
    overflow: hidden;

}

.show-coll-cont {
    display: block;
    overflow: hidden;
    border: 2px solid #2CBFA4;
    border-top: 0px !important;
    box-shadow: 0px 0px 5px #2a363b inset;
    background-color: #f1f1f1;
    background-attachment: fixed;


}

.hidden-layer {
    display: none;
}

a, a:active, a:visited, a:hover {
    text-decoration: none !important;
    color: whitesmoke;
}

.mainly-green {
    background-color: #2CBFA4 !important;
}

.autor-img {
    background-image: url("../img/a1.jpg");
    background-size: 70px 7px;
    background-repeat: no-repeat;
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    cursor: pointer;
}

.autor-img:hover {
    box-sizing: border-box;
}

.btn-analogic-c {
    background-color: #BF2C47;
}

.display-inline {
    display: inline-block;
}

.btn-analogic-c:hover {

    transition: 0.2s ease-in-out;
    box-shadow: 1px 2px 3px #2a363b;
    background-color: #da394e;
}